.App {
  display: flex;
  justify-content: center;
  font-family: Arial;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0%;
  padding: 0%;
}

.titleSection {
  background-color: darkorange;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.titleSection input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid orangered;
  font-size: 18px;
  padding-left: 10px;
}

.titleSection button {
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: white;
  background-color: turquoise;
  padding-left: 10px;
}

.titleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
